*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.continer{
    max-width: 1220px;
    margin: 0 auto;

}
header .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
    align-items: center;
}
li a{
    text-decoration: none;
    color: black;
}

button{
    width: 120px;
    height: 51px;
    background: #FF7A50;
    box-shadow: 0px 22px 40px 0px #a0280330;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}
li a:hover{
    color: #FF7A50;
}
h1 span{
    color: #FF7A50;
}
h2 span{
     color: #FF7A50;
}
.hero{
    display: flex;
    justify-content: space-around;
}
.hero-text h1{
    font-size:66px ;
    margin-bottom: 23px;  
}
.hero-text p{
    font-size: 20px;
    margin-bottom: 44px;
}
.hero-text{
    margin:  118px 0px;
}
.hero-1{
    display: flex;
    align-items: center;
}
.hero-1-text h2{
font-size: 36px;
line-height: 50px;
letter-spacing: 0%;
text-transform: capitalize;
margin-bottom: 95px;
}
.hero-1-text-p{
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;

}
.btn{
    width: 176;
    height: 58;
    top: 1515px;
    left: 855px;
    margin: 141px 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 22px 40px 0px #FF683830;


}
.card-ota{
    display: flex;
    align-items: center;
    gap: 43px;
}
.card-box{
    margin: 100px 0;
}
